<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boozapp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="app">
        <div class="contenitore">
            <div class="container contenitore-chat">
                <div class="row">
                    <!-- Aside -->
                    <div class="col-4 aside">
                        <div class="row">
                            <div class="col-12">
                                <div class="row user-box justify-content-between">
                                    <div class="col-6">
                                        <img src="./img/avatar_1.jpg" alt="">                                      
                                        <span>Francesco</span>
                                    </div>
                                    <div class="col-6 p-0 d-flex justify-content-end">
                                        <i class="fas fa-circle-notch icon-top"></i>
                                        <i class="fas fa-comment-alt icon-top"></i>
                                        <i class="fas fa-ellipsis-v icon-top"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="row box-notifiche">
                                    <div class="col-2">
                                        <i class="fas fa-bell-slash icon-notifica"></i>
                                    </div>
                                    <div class="col-10">
                                        <div class="text-notifiche">Ricevi notifiche di nuovi messaggi</div> 
                                        <a class="link-notifiche" href="#">Attiva notifiche detsktop</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row box-input justify-content-around">
                                    <div class="col-12 bg-white">
                                        <i class="fas fa-search"></i>
                                        <input class="input-search" type="text" placeholder="Cerca o inizia una nuova chat">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 container-chats">
                                <div v-for="(user, index) in contacts" class="row box-chats">
                                    <div class="col-12 li-chats d-flex">
                                        <img :src="user.avatar" alt="">
                                        <span>{{user.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 container-message">
                        <div class="row">
                            <div class="col-12">
                                <div class="row user-box-right justify-content-between">
                                    <div class="col-6 d-flex ">
                                        <img src="./img/avatar_1.jpg" alt="">                                      
                                        <div class="user-info">
                                            <div class="name-info">Michele</div>
                                            <span class="last-accesso">Ultimo accesso oggi alle</span>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end">
                                        <i class="fas fa-search icon-top"></i>
                                        <i class="fas fa-paperclip icon-top"></i>
                                        <i class="fas fa-ellipsis-v icon-top"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 content-message">
                                <div class="row msg-chat" v-for="msg in contacts[0].messages">
                                    <div class="col-12 d-flex" :class="getMessageClass(msg.status)" >
                                        <div class="">
                                            <div class="text-message">{{ msg.text}}</div>
                                            <div class="date-message d-flex justify-content-end">10/02</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 chat-bottom">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row box-input justify-content-between">
                                            <div class="col-1 d-flex justify-content-center p-0">
                                                <i class="far fa-smile icon-chat"></i>
                                            </div>
                                            <div class="col-10">
                                                <input class="input-chat" type="text" placeholder="Scrivi un messaggio">
                                            </div>
                                            <div class="col-1 d-flex justify-content-center p-0">
                                                <i class="fas fa-microphone icon-chat"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="script.js"></script>
</body>
</html>