.contenitore-chat{
    margin-top: 50px;
}
.aside{
    border-right: 1px solid lightgray;
}
.container-message{
}
.user-box, .user-box-right{
    padding: 16px 16px 16px 0;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.icon-top{
    color: rgb(177, 177, 177);
    font-size: 25px;
    margin: 10px;
}
.icon-notifica{
    color: rgb(53, 158, 228);
    background-color: white;
    border-radius: 100%;
    font-size: 32px;
}
.user-box img{
    width: 50px;
    border-radius: 100%;
}
.box-notifiche{
    padding: 16px;
    align-items: center;
    background-color: rgb(42, 187, 255);
}
.text-notifiche{
    font-size: 13px;
}
.link-notifiche, .last-accesso, .date-message {
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.box-input{
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 5px;
}
.input-search{
    width: calc(100% - 32px);
    border: none;
}
.box-chats{
    align-items: flex-start;
    padding-right: 10px;
    background-color: rgb(241, 241, 241); 
}
.box-chats .li-chats{
    border-bottom: 1px solid lightgray;
    padding: 16px;
    border-right: 1px solid lightgray;
    background-color: white;

}
.box-chats .li-chats img{
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
.box-chats .li-chats:hover{
    background-color: rgb(236, 236, 236);
}
/* CONTAINER MESSAGE  */
.container-message{
    
}
.user-box-right{
    align-items: center;
}
.user-box-right img{
    width: 50px;
}
.content-message{
    background-image: url(./img/mine.jpg);
    padding: 0;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.input-chat{
    height: 50px;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 16px;
}
.icon-chat{
    font-size: 25px;
}
.msg-chat{
    padding: 30px;
}
.chat-green, .chat-white{
    padding: 6px;
    border-radius: 5px;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
  }
.chat-green{
    background-color: yellowgreen;
    float: right;
}
.chat-white{    
    background-color: white;
    float: left;
}